---
import type { CollectionEntry } from 'astro:content'
import TutorialCard from './TutorialCard.astro'

interface Props {
  tutorials: CollectionEntry<'tutorials'>[]
}

const { tutorials } = Astro.props
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 fade-up">
  {tutorials.map((tutorial, index) => (
    <TutorialCard {tutorial} {index} />
  ))}
</div>
